# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual environments
.venv/
venv/

# Testing / linters
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local env
.env
.env.*
!.env.example
